# phpstorm project files
.idea
*.iml

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# sublime text project / workspace files
*.sublime-project
*.sublime-workspace

# visual studio code project files
.vscode

# windows thumbnail cache
Thumbs.db

# composer vendor dir
#/vendor
# cubrid install dir
/cubrid

# composer itself is not needed
composer.phar


# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# ignore dev installed apps and extensions
/apps
/extensions
/packages

# NPM packages
/node_modules
.env

# logs and cache
/var

# vendor
/vendor

/.docker/log/*
/.docker/mysql/data/
/.docker-compose.yml

# Xdebug
docker/php-fpm/xdebug.ini

# docker
docker/.env


#dashboard
public/data/dashboard.json
public/dashboard.php

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
.env.test.local
/tmp